/* RESET STYLE */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

a,
a:visited {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
}

ul li {
  list-style: none;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

aside, nav, footer, header, section, main {
  display: block;
}

/* GENERAL */
html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: #1F1C26;
}

.border {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.625rem;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2.8125rem;
  color: #ffff;
  position: relative;
}

.title::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 70px;
  height: 4px;
  background: #59253E;
}

@media (max-width: 769px) {
  .title::before {
    width: 100%;
  }
}

.btn {
  color: #fff;
  font-weight: 600;
  background-color: #F24B88;
  text-transform: uppercase;
  border-radius: 5px;
}

/* HEADER */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin: 2rem 0 3rem;
  background: #1F1C26;
  z-index: 99;
}

@media (max-width: 769px) {
  .header {
    margin: 0.625rem 0;
  }
}

.header .header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* hamburgermenu */
  /* menu */
}

.header .header__box .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.header .header__box .logo img {
  width: 100%;
  height: 100;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.header .header__box .header__burger {
  display: none;
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0.5rem 0 0 0;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 100;
}

@media (max-width: 769px) {
  .header .header__box .header__burger {
    display: block;
  }
}

.header .header__box .header__burger.menu-open::before {
  top: 8.5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .header__box .header__burger.menu-open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8.5px;
}

.header .header__box .header__burger.menu-open span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header .header__box .header__burger::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 20%;
  background: white;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header .header__box .header__burger::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 20%;
  background: white;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header .header__box .header__burger span {
  position: absolute;
  left: 0;
  top: 8.5px;
  width: 30px;
  height: 3px;
  border-radius: 20%;
  background: white;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header .header__box .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 769px) {
  .header .header__box .header__menu {
    position: fixed;
    top: 0.625rem;
    right: -100%;
    width: 143px;
    height: 250px;
    background: #59253E;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 0rem 1rem;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
  .header .header__box .header__menu.menu-open {
    right: 0;
  }
}

.header .header__box .header__menu > a {
  margin-right: 2.5rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: #F2F2F2;
  text-transform: uppercase;
}

@media (max-width: 769px) {
  .header .header__box .header__menu > a {
    margin-right: 0;
    display: block;
  }
}

.header .header__box .header__menu .header__user {
  font-size: 0;
}

.header .header__box .header__menu .header__user a {
  display: inline-block;
  font-size: 0.875rem;
  color: #F2F2F2;
  text-transform: uppercase;
  background: #F24B88;
  padding: 0 0.5rem;
  border: 1px solid #F24B88;
}

.header .header__box .header__menu .header__user a + a {
  background: none;
  border: 1px solid #ffff;
}

/* INTRO */
.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 430px) minmax(auto, 314px) minmax(auto, 335px);
      grid-template-columns: minmax(auto, 430px) minmax(auto, 314px) minmax(auto, 335px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  margin-bottom: 6.25rem;
}

@media (max-width: 769px) {
  .intro {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: minmax(280px, auto) 1fr;
        grid-template-rows: minmax(280px, auto) 1fr;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-bottom: 3.125rem;
  }
}

.intro .intro__txtbx {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 769px) {
  .intro .intro__txtbx {
    -ms-grid-rows: 1;
    -ms-grid-columns: 2;
        grid-template: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (max-width: 769px) {
  .intro .intro__txtbx .intro__txtbx__titlebx {
    text-align: center;
  }
}

.intro .intro__txtbx .intro__txtbx__titlebx .intro__title {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.25rem;
  line-height: 4rem;
}

@media (max-width: 769px) {
  .intro .intro__txtbx .intro__txtbx__titlebx .intro__title {
    font-size: 1.625rem;
    letter-spacing: 0.5rem;
    line-height: 1.625rem;
    margin-top: 2.5rem;
  }
}

.intro .intro__txtbx .intro__txtbx__titlebx .intro__sub-title {
  font-size: 1.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.658rem;
  line-height: 1.8125rem;
}

@media (max-width: 769px) {
  .intro .intro__txtbx .intro__txtbx__titlebx .intro__sub-title {
    font-size: 0.75rem;
    letter-spacing: 0.28rem;
    line-height: 1.8125rem;
    margin-bottom: 2.5rem;
  }
}

.intro .intro__txtbx p {
  color: rgba(255, 255, 255, 0.36);
  font-size: 0.875rem;
}

@media (max-width: 769px) {
  .intro .intro__txtbx p {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }
}

.intro .intro__txtbx .intro__btnbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 769px) {
  .intro .intro__txtbx .intro__btnbx {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.intro .intro__txtbx .intro__btnbx button {
  font-size: 1.2rem;
  font-weight: 600;
  color: #F2F2F2;
  text-transform: uppercase;
  background: #F24B88;
  padding: 1.25rem 1.875rem;
  border-radius: 10px;
}

@media (max-width: 769px) {
  .intro .intro__txtbx .intro__btnbx button {
    font-size: 0.75rem;
    padding: 0.6875rem 0.6875rem;
  }
}

@media (max-width: 769px) {
  .intro .intro__txtbx .intro__btnbx button + button {
    display: none;
    text-align: center;
  }
}

.intro .intro__imgbx {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding: 0 0 27rem 20rem;
}

@media (max-width: 769px) {
  .intro .intro__imgbx {
    -ms-grid-rows: 1;
    -ms-grid-columns: 2;
        grid-template: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    padding: 17.5rem 0 0rem 0rem;
  }
}

.intro .intro__imgbx img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 769px) {
  .intro .intro__imgbx img {
    -o-object-position: top;
       object-position: top;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

.intro .intro__cardbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media (max-width: 769px) {
  .intro .intro__cardbx {
    display: none;
  }
}

.intro .intro__cardbx .intro__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(242, 242, 242, 0.035);
  min-height: 210px;
  border-radius: 10px;
}

.intro .intro__cardbx .intro__card .intro__card__title {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.875rem 1.625rem 0rem;
}

.intro .intro__cardbx .intro__card .intro__card__txt {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.36);
  padding: 0rem 1.625rem 0rem;
}

.intro .intro__cardbx .intro__card .intro__card__link {
  padding: 0rem 1.625rem 1rem;
}

.intro .intro__cardbx .intro__card .intro__card__link .ic-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #F24B88;
  margin-right: 1rem;
  -webkit-transform: rotate(325deg);
          transform: rotate(325deg);
}

.intro .intro__cardbx .intro__card .intro__card__link a {
  font-size: 1.125rem;
  color: #fff;
  font-weight: 600;
}

/* TRAINING */
.training {
  margin: 0 0 6.25rem 0;
}

@media (max-width: 769px) {
  .training {
    margin: 0 0 1.25rem 0;
  }
}

.training .training__titlebx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

@media (max-width: 769px) {
  .training .training__titlebx {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.training .training__titlebx a {
  font-size: 0.875rem;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 769px) {
  .training .training__titlebx a {
    display: none;
  }
}

.training .training__cardbx {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 368px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(auto, 368px));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 1.25rem;
}

@media (max-width: 769px) {
  .training .training__cardbx .training__card {
    margin-bottom: 1.875rem;
  }
}

.training .training__cardbx .training__card .training__card__imgbx {
  position: relative;
  padding: 0 0 70% 0;
  border-radius: 10px;
  overflow: hidden;
}

.training .training__cardbx .training__card .training__card__imgbx img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.training .training__cardbx .training__card .training__card__title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin: 1rem 0;
}

@media (max-width: 769px) {
  .training .training__cardbx .training__card .training__card__title {
    margin: -1.875rem 0.3125rem;
    position: relative;
  }
}

.training .training__cardbx .training__card p {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.36);
  margin-bottom: 1.25rem;
}

@media (max-width: 769px) {
  .training .training__cardbx .training__card p {
    display: none;
  }
}

.training .training__cardbx .training__card .training__card__btn {
  display: inline-block;
  padding: 0.75rem 1rem;
}

@media (max-width: 769px) {
  .training .training__cardbx .training__card .training__card__btn {
    display: none;
  }
}

@media (max-width: 769px) {
  .training .training__cardbx .training__card + .training__card + .training__card {
    display: -ms-grid;
    display: grid;
  }
}

@media (max-width: 769px) {
  .training .training__cardbx .training__card + .training__card + .training__card .training__card__title {
    margin: -1.875rem 0.3125rem;
    position: relative;
  }
}

@media (max-width: 769px) {
  .training .training__cardbx .training__card + .training__card + .training__card .training__card__btn {
    display: inline-block;
    margin: 1.25rem auto 0rem;
  }
}
